<div class="container-fluid bg-dark">
    <div class="row p-4 ">
        <div class="col">
            <h3 class="text-light">Ekart</h3>
            <p></p>
        </div>
        <div class="col ">
            <h4 class="text-light">Links</h4>
            <a routerLink="/log" class="text-light d-block text-decoration-none">Login</a>
            <a routerLink="/reg" class="text-light d-block text-decoration-none">Register</a>
            <a routerLink="/cart" class="text-light d-block text-decoration-none">Cart</a>
            <a routerLink="/wish" class="text-light d-block text-decoration-none">Wishlist</a>
        </div>
        <div class="col">
            <h4 class="text-light">References</h4>
            <a href="https://getbootstrap.com" class="text-light d-block text-decoration-none">Bootstrap</a>
            <a href="https://fontawesome.com" class="text-light d-block text-decoration-none">Fontawesome</a>

        </div>
        <div class="col">
            <h4 class="text-light">Contact Us</h4>
            <div>
                <input type="text" placeholder="Enter your Email Id" class="form-control">
                <button class="btn btn-outline-light mt-3">Submit</button>
            </div>
  
        </div>

    </div>
    <p class="text-center text-light mt-5">Ekart 2024 &copy; copyrights reserved</p>
</div>
