<div class="w-100 d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="row w-50 border shadow">
        <div class="col-lg-6 mt-3 mb-2">
            <img src="https://static.vecteezy.com/system/resources/previews/006/405/794/non_2x/account-login-flat-illustration-vector.jpg" class="img-fluid mt-5"  alt="">
        </div>
        <div class="col-lg-6 p-3">
            <h3 class="mt-2 ">Registration</h3>
            <form action="" [formGroup]="regForm">
                <div class="form-floating mb-3 mt-3">
                    <input type="text" formControlName="username" class="form-control" id="floatingUserInput" placeholder="Username">
                    <label for="floatingUserInput">Username</label>
                    <div class="text-danger" *ngIf="regForm.get('username')?.invalid && regForm.get('username')?.touched" >
                      *Enter Valid Username
                    </div>
                  </div>
                <div class="form-floating mb-3 mt-3">
                    <input type="email" formControlName="email" class="form-control" id="floatingEmailInput" placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                    <div class="text-danger" *ngIf="regForm.get('email')?.invalid && regForm.get('email')?.touched" >
                      *Enter Valid Email
                    </div>
                  </div>
                  <div class="form-floating  mb-3 mt-3">
                    <input type="password" formControlName="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                    <div class="text-danger" *ngIf="regForm.get('password')?.invalid && regForm.get('password')?.touched" >
                      *Enter Valid Password
                    </div>
                  </div>
                  <!-- <div class="form-floating">
                    <input type="password" class="form-control" id="floatingCPassword" placeholder="Confirm Password">
                    <label for="floatingCPassword">Confirm Password</label>
                  </div> -->
                  <div class="mt-3 d-flex justify-content-center">
                    <button class="btn btn-outline-dark me-3" [disabled]="regForm.invalid" (click)="getFormData()" >Register</button>
                    <a routerLink="/log" class="text-decoration-none pt-3" style="font-size: 15px;">Already a User?</a>
                  </div>
            </form>

        </div>

    </div>

</div>

