
<app-header></app-header>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">Product Id: {{product.id}}</div>
                <h1 class="display-5 fw-bolder">{{product.title}}</h1>
                <div class="fs-5 mb-4">
                    <span>{{product.price | currency:'INR'}}</span>
                </div>
                <p class="lead">{{product.description}}</p>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-outline-dark"  (click)="addWish(product)" ><i class="fa-solid fa-lg fa-heart-circle-plus" style="color: #ec1387;"></i></button>
                        <button class="btn btn-outline-dark" (click)="addCart(product)" ><i class="fa-solid fa-cart-plus fa-lg"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>
