/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Fondamento", cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 19px;
}

::-webkit-scrollbar{
    display: none;
}
